$slide-height: 1000px

.blog-page
  
  .first-slide
    height: $slide-height
    width: 100%
    background-color: $gold
    
    color: #fff
    h1.main-title
      text-align: center
      line-height: $slide-height
      margin: 0
