$grey: rgb(215,215,215)


.image-background-wrapper
  // position: absolute
  // left: 0
  // right: 0
  // padding-top: 40px
  min-width: 1000px
  img
    padding: 75px 0 100px 0
    width: 100%
    border-bottom: 1px solid $grey

  .image-header
    padding-top: 30px

  .main-message, .secondary-message
    text-align: center
    font-family: 'Roboto'

  .main-message
    // text-transform: uppercase

  .secondary-message
    font-weight: 300
    margin-bottom: 0